<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<style>
		.container{
			display: block;
		}
		
		.body{
			width: 100%;
			background-color: #b2fcff;
		}
		
		.footer{
			width: 100%;
			background-color: #3e64ff;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="body">
			<h1>Welcome to Sheridan Stutalk</h1>
			<p>[[${name}]], you're almost done! Please click the link below to verify your account and finish registration. If you did not create an account, please disregard this email.</p>
			<a class="confirmButton" href="#" th:href="@{http://localhost:8080/confirm(id=${id})}">Confirm Email</a>
			<p>If the link above does not work, please paste the following link into your browser: http://localhost:8080/confirm?id=[[${id}]]</p>
		</div>
		<div class="footer">
			<h3>Sheridan Stutalk</h3>
		</div>
	</div>
</body>
</html>